.balance{
    position: relative;
    background-color:#242324;
    min-height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.square{
    position: absolute;
    left: 32.5%;
    height: 70vh;
    width: 70vh;
    background-color:slategrey;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
}

.myAcc{
    position: relative;    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 5%;
}

a{
    position: relative;
    align-items: center;
    justify-content: center;
    border-width: 2px;
    border-bottom: 2px white solid;
    width: 50%;
}

.btn-primary {
    background-color: #007bff; /* Green */
    border: #007bff;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}