.App {
  height: 40%;
  text-align: center;
}



.App-header {
  background-color: #b8b4b8;
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.head{
  position: absolute;
  height: 10%;
  bottom: 85%;
  left: 70%;
  display:table-column;
  text-align: right;
}
.options{
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 50px;
  font-size: 80%;
}
a{
  border-bottom: 2px solid gray;
}

.App-link {
  color: #61dafb;
}


